.footer {
    background-color: rgb(29, 28, 28);
    height: 200px;
    color: aliceblue;
    text-align: center;
    display: flex;
    margin: auto;
    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: radial-gradient(rgb(37, 37, 37),black);
}

.footer img {
    width: 100px;
}

.footer h4 {
    text-decoration: underline;
    text-transform: uppercase;
}


