.main .Instructivo {
    padding: 15px;
}

.main .titulo-2 {
    padding: 0px 15px;
    text-align: center;
}

.main ol {
    margin: 30px;
}

.main li {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
}
.main .colocar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

.main .chapa-pared {
    width: 400px;
    margin: 15px;
}

.main .chapa-espejo {
    display: inline;
    height: 350px;
    margin: 20px;
}

.main .Envios {
    margin: 20px;
    padding: 10px 40px;
}
.main .formas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}