.main .Instructivo {
    padding: 15px;
}

.main .titulo-2 {
    padding: 0px 0px 0px 15px;
}

.main ol {
    margin: 30px;
}

.main li {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
}

.main .chapa-pared {
    width: 400px;
    margin: 15px;
}

.main .chapa-espejo {
    display: inline;
    height: 350px;
    margin: 20px;
}

.main .Envios {
    margin: 10px;
    padding: 10px 0px 0px 40px;
}