.main-modelos {
    font-family: "TCCC-UnityHeadline-Bold", "TCCC-UnityHeadline", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    background-color: gray;
    min-height: 70vh;
    
}

.main-modelos h1 {
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
    color: white;
}



.main-modelos img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    padding: 4px;

}


.img-carrusel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;


}

.video-catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 30px;
}